#panelOne{
  font-size: 20px;
  color: #333;
  background-image:url("/assets/img/canvas.jpg");
  border-color:#ccffff;
  margin:150px;
  border-bottom: 1px solid white;
  border-radius: 1px solid white;
}

#panelTwo{
  font-size: 15px;
  color: white;
  background-color: #f5f5f5;
  border-color: #ddd;
  margin: 20px;
  width:500px;
  background-image: url("/assets/img/canvas.jpg");
  background-size: contain;
}

.form-control{

}

#btn{
  display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #1a0000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
  }

#btn :hover {background-color: #660000}

  #btn:active {
    background-color: #ffb3b3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
