.carousel-item img {
  width: auto;
   height: 500px;
   max-height: 500px;
  margin: 0 auto;
  border:4px solid black;

}
#title{
  	margin-right:500px;
  	text-align: center;
  	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 5px 5px 0px rgba(0,0,0,0.8);
  	color: #FFFFFF;
  	opacity: 0.5;
  	font: 700 50px 'Bitter';
    font-family: "Irish Grover";
  }
#nav{
  width: auto;
  height: auto;
}

li{
font-family: "Irish Grover";
}
html, body {
  width: 100%;
  height: 100%;
}
