.carousel-item img {
  width: auto;
   height: 500px;
   max-height: 500px;
  margin: 0 auto;
  border:4px solid white;

}
#title{
  	margin-right:500px;
  	text-align: center;
  	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 5px 5px 0px rgba(0,0,0,0.8);
  	color: #FFFFFF;
  	opacity: 0.5;
  	font: 700 50px 'Bitter';
    font-family: "Irish Grover";

  }
  /*#image{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQXvYGadXcfUuwr3Me5q5_aKPtlBYYpUok9AgPk5LSE6CKNogt");
  }*/

  img {
      max-width: 100%;
      max-height: 100%;
  }

  #portrait {
      height: 200px;
      width: 300px;
  }

#nav{
  width: auto;
  height: 300px;

}

li{
font-family: "Irish Grover";
  display: inline;

}
html, body {
  width: 100%;
  height: 100%;
}
